* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

:root {
  --main-color: #B817B8;
  --color-green: #33EB67;
}

header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 75px;
  align-items: center;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.72);
  position: fixed;
}

.logo-container,
.nav-links,
.social {
  display: flex;
}

.logo-container {
  flex: 1;
  justify-content: space-around;
}

.logo-container img {
  height: 50px;
}

nav {
  flex: 3;
  font-size: 15px;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: black;
  text-decoration: none;
}

#sous {
  list-style-type: none;
  position: absolute;
  text-decoration: none;
  display: none;
}

.sousshow {
  display: block;
}

#sous li a {
  text-decoration: none;
  color: black;
}

.social {
  flex: 1;
  justify-content: space-around;
}

.social a {
  color: black;
}

.fond-accueil {
  display: flex;
  height: 100vh;
  background-color: var(--main-color);
  background-image: url(../img/fond-terre.jpg);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.nous-vous-securisons {
  color: #fff;
  flex: 1;
  margin-top: 40vh;
  margin-left: 10vw;
  text-align: justify;
}

.nous-vous-securisons h1 {
  padding-bottom: 4rem;
}

.nous-vous-securisons_btn {
  color: #fff;
  flex: 1;
  margin-top: 50vh;
  justify-content: center;
  text-align: center;
}

.nous-vous-securisons_btn button {
  background: none;
  color: white;
  padding: 2rem 3rem;
  border: 3px solid var(--color-green);
  font-size: 1.25rem;
  cursor: pointer;
}

.nous-vous-securisons_btn a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

main {
  width: 75vw;
  margin: 0 auto;
}

.ce-que-nous-faisons {
  display: flex;
  height: 50vh;
}

.ce-que-nous-faisons_gauche {
  flex: 1;
  padding: 5rem 0;
  text-align: justify;
}

.ce-que-nous-faisons_droite {
  flex: 1;
  display: flex;
  text-align: center;
}

.ce-que-nous-faisons_droite button {
  background: none;
  padding: .25rem 2rem;
  border: 3px solid var(--main-color);
  font-size: 1.25rem;
  cursor: pointer;
  margin-left: 2rem;
}

.ce-que-nous-faisons_droite button a {
  color: black;
  text-decoration: none;
}

footer {
  height: 15vh;
  background: black;
  color: #fff;
  line-height: 15vh;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #fff;
}