* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

:root {
  --main-color: #32c5ff;
  --color-green: #33eb67;
}

header {
  z-index: 1;
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 75px;
  align-items: center;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.72);
  position: fixed;
}

.logo-container,
.nav-links,
.social {
  display: flex;
}

#btn-menu-burger {
  display: none;
}

.logo-container {
  flex: 1;
  justify-content: space-around;
}

.logo-container img {
  height: 50px;
}

nav {
  flex: 3;
  font-size: 15px;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: black;
  text-decoration: none;
}

#sous {
  list-style-type: none;
  position: absolute;
  text-decoration: none;
  padding: 1rem;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.72);
  border-radius: 5px;
}

.sousshow {
  display: block;
}

#sous li a {
  text-decoration: none;
  color: black;
}

.social {
  flex: 1;
  justify-content: space-around;
}

.social a {
  color: black;
}

.fond-accueil {
  display: flex;
  height: 100vh;
  background-color: var(--main-color);
  background-image: url(../img/fond-terre.jpg);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.fond-about {
  display: flex;
  height: 100vh;
  background-color: var(--main-color);
  background-image: url(../img/capuche.jpg);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.nous-vous-securisons {
  color: #fff;
  flex: 1;
  margin-top: 50vh;
  margin-left: 10vw;
  text-align: justify;
}

.about-us {
  color: #fff;
  width: 50%;
  margin-top: 50vh;
  margin-left: 10vw;
}

.nous-vous-securisons h1 {
  padding-bottom: 4rem;
}

.about-us h1 {
  padding-bottom: 4rem;
}

.nous-vous-securisons_btn {
  color: #fff;
  flex: 1;
  margin-top: 50vh;
  justify-content: center;
  text-align: center;
}

.nous-vous-securisons_btn button {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  padding: 2rem 3rem;
  border: 2.75px solid var(--color-green);
  font-size: 1.25rem;
  cursor: pointer;
}

.nous-vous-securisons_btn a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

main {
  width: 75vw;
  margin: 0 auto;
}

.ce-que-nous-faisons {
  display: flex;
}

.ce-que-nous-faisons_gauche {
  flex: 1;
  padding: 5rem 0;
  text-align: justify;
}

.about-section {
  display: flex;
  flex-wrap: wrap;
}

.about-div {
  width: 50%;
  padding: 5rem 0;
  text-align: justify;
}

.about-div h1 {
  padding-bottom: 2rem;
}

.about-div p,
.about-div ul {
  width: 90%;
}

.about-div li {
  padding: 0.5rem;
}

.ce-que-nous-faisons_gauche h1 {
  padding-bottom: 2rem;
}

.ce-que-nous-faisons_droite {
  flex: 1;
  text-align: center;
}

.ce-que-nous-faisons_droite button {
  background: none;
  border: 3px solid rgba(50, 197, 255, 0.5);
  font-size: 1rem;
  cursor: pointer;
  height: 5rem;
  width: 75%;
  margin-top: 3rem;
  transition: 0.25s;
}

.ce-que-nous-faisons_droite button:hover {
  border: 3px solid rgba(50, 197, 255, 1);
}

.ce-que-nous-faisons_droite button a {
  color: black;
  text-decoration: none;
  text-align: center;
}

.contact {
  height: 85vh;
  padding-top: 10rem;
}

.form-style {
  margin: 10px auto;
  width: 400px;
  padding: 20px 12px 10px 20px;
}

.form-style td {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

.form-style label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}

.form-style .required {
  color: red;
}

.form-style input[type="submit"],
.form-style input[type="reset"] {
  border: 2px solid var(--main-color);
  padding: 8px 15px 8px 15px;
  background: none;
  transition: 0.2s;
}

.form-style input[type="submit"]:hover,
.form-style input[type="reset"]:hover {
  border: var(--main-color);
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.form-style .field-textarea {
  height: 100px;
}

.form-style input[type="text"],
.form-style input[type="email"],
textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}

.form-style .long {
  width: 100%;
}

.form-style input[type="text"]:focus,
.form-style input[type="email"]:focus,
.form-style textarea:focus {
  -moz-box-shadow: 0 0 8px var(--main-color);
  -webkit-box-shadow: 0 0 8px var(--main-color);
  box-shadow: 0 0 8px var(--main-color);
  border: 1px solid var(--main-color);
}

.error {
  color: #d8000c;
  background-color: #ffbaba;
}

.fond-particulier {
  display: flex;
  height: 100vh;
  background-color: var(--main-color);
  background-image: url(../img/external.jpg);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.formule-particulier {
  color: #fff;
  flex: 1;
  margin-top: 50vh;
  margin-left: 10vw;
  text-align: justify;
}

.formule-particulier h1 {
  margin-bottom: 2rem;
}

.formule-particulier-btn {
  color: #fff;
  flex: 1;
  margin-top: 50vh;
  justify-content: center;
  text-align: center;
  height: 10rem;
}

.formule-particulier-btn img {
  height: 100%;
}

footer {
  height: 15vh;
  background: black;
  color: #fff;
  line-height: 15vh;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .fond-accueil {
    height: 100vh;
    background-size: cover;
    flex-wrap: wrap;
  }

  .nous-vous-securisons {
    width: 100%;
    text-align: left;
    margin-top: 25vh;
    margin-left: 13vw;
    flex: none;
    width: 75%;
  }

  .nous-vous-securisons p {
    text-align: justify;
  }

  .nous-vous-securisons_btn {
    width: 100%;
    margin-top: 1rem;
    flex: none;
  }

  .ce-que-nous-faisons {
    display: flex;
    flex-wrap: wrap;
  }

  .ce-que-nous-faisons p {
    text-align: justify;
  }

  .ce-que-nous-faisons_gauche {
    width: 100%;
    text-align: left;
    padding: 5rem 0 0 0;
    flex: none;
  }

  .ce-que-nous-faisons_droite {
    width: 100%;
    flex: none;
    padding: 0 0 5rem 0;
  }

  .fond-about {
    height: 100vh;
    background-size: cover;
  }

  .about-us {
    color: #fff;
    width: 50%;
    margin-top: 35vh;
    margin-left: 10vw;
  }

  .about-div {
    text-align: left;
  }

  .about-div p {
    text-align: justify;
  }

  .contact {
    height: 90vh;
  }

  footer {
    height: 10vh;
    line-height: 10vh;
  }
}

@media only screen and (max-width: 425px) {
  p {
    font-size: 14px;
  }

  .nav-link {
    display: none;
    flex: 0;
  }

  .fa-facebook,
  .fa-instagram,
  .fa-telegram {
    display: none;
  }

  #btn-menu-burger {
    display: block;
  }

  .social {
    flex: 2;
  }

  .logo-container {
    text-align: center;
    flex: 2;
    padding-left: 11rem;
  }

  .about-us {
    color: #fff;
    width: 75%;
    margin: 0 auto;
    margin-top: 25vh;
    margin-left: 10vw;
  }

  .about-us p {
    text-align: justify;
  }

  .about-section {
    flex-wrap: wrap;
  }

  .about-div {
    width: 100%;
    padding: 2.5rem 0;
    text-align: left;
  }

  .about-div p,
  .about-div ul {
    width: 100%;
  }

  main {
    width: 85%;
    margin: auto;
  }

  .contact {
    width: 100%;
    margin: auto;
  }

  .form-style {
    padding: 0px;
    width: 100%;
  }

  footer {
    font-size: 14px;
  }
}

@media only screen and (max-width: 375px) {
  .logo-container {
    padding-left: 9.75rem;
  }

  .nous-vous-securisons {
    margin-top: 17vh;
  }
}

@media only screen and (max-width: 320px) {
  .logo-container {
    padding-left: 8rem;
  }
}
